@page "/boards/{boardId:guid}"
@using AntDesign
@using TaskTracker.Client.Components.Columns
@using TaskTracker.Client.Components.Boards

<div class="board-details-container">
    <BoardsHeader Title="@(_board?.Title ?? "Loading…")"
                  ShowSearch="false"
                  OnCreateClick="@ShowColumnModal"
                  ButtonText="Add Column"
                  EnableTitleEdit="@(_board != null)"
                  IsTitleEditing="@_isTitleEditing"
                  OnTitleEditingChanged="@OnTitleEditingChanged"
                  IsTitleSaving="@_isTitleSaving"
                  OnTitleSave="@SaveBoardTitle" />

    @if (_isLoading)
    {
        <Spin Tip="Loading board…" />
    }
    else
    {
        <ColumnList Columns="_columns"
                    CardsByColumn="_cardsByColumn"
                    IsLoading="false"
                    OnAddCard="OnAddCard" />
    }

    <CreateColumn IsVisible="@_isColumnModalVisible"
                  IsVisibleChanged="@HideColumnModal"
                  OnColumnCreated="@HandleColumnCreated"
                  BoardId="@boardId" />
</div>