@page "/boards"
@using System
@using System.Linq
@using TaskTracker.Client.Components.Boards
@using AntDesign

<div class="boards-container">
    <BoardsHeader Title="My Boards"
                  ShowSearch="true"
                  SearchTerm="@searchTerm"
                  OnSearchChangedValue="@OnSearchChangedValue"
                  OnCreateClick="@CreateBoard"
                  ButtonText="Add Board" />

    <BoardList CurrentPageBoards=@currentPageBoards
               IsLoading=@isLoading
               CurrentPage=@currentPage
               PageSize=@pageSize
               TotalBoards=@totalBoards
               OnBoardClick=@OpenBoard
               OnPageChange=@OnPageChange />
</div>

<CreateBoard IsVisible="@isCreateBoardModalVisible"
             IsVisibleChanged="@OnCreateBoardModalVisibilityChanged"
             OnBoardCreated="@HandleBoardCreated" />